#root {
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
}

section {
    height: 480px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
}

.email_input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ad_membership {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.ad_membership_container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: purple;
    border-radius: 10px;
    padding: 10px;
    min-width: 150px;
}
.ad_membership_description {
    font-size: 20px;
    font-weight: 700;
    min-width: 200px;
}
