.default_button {
    width: auto;
    font-size: 14px;
    font-weight: 500;
    min-height: 32px;
    padding: 4px 16px;
    border-radius: 4px;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}
