.header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #e5e5e5;
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}

.header_logo {
    height: 25px;
    margin-right: 25px;
    object-fit: contain;
    cursor: pointer;
}

.header_select {
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-right: 10px;
    min-width: 100px;
    font-size: 16px;
    padding: 6px 36px;
}
